extends layout

block head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script.
    window.game_hash = '#{game_hash}';
  script(src='/javascripts/app.js')

block content
  div(class='offset-md-3 col-md-4')
    h3 #{title}
  div(class='col-md-5 text-right-md')
    h5 Score
      i(class="fas fa-star")
      span(id="score") 0
      span /
      span(id="rounds") 0
  div(class='col-md-3 text-right-md')
    h5 Players
      i(class="fas fa-user-friends")
    ul(id='players')
  div(id='game',class='col-md-9')
  div(class='offset-md-3 col-md-4')
    a(href='#',class='btn',id='restart') Restart round
      i(class="fas fa-redo")
  div(class='col-md-5 text-right-md')
    a(href='/',class='btn') Leave game
      i(class="fas fa-sign-out-alt")