html,
body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 30px 20px;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container > div {
    width: 800px;
    max-width: 100%;
  }
}

.home h1 {
  margin-bottom: 20px;
}

#game {
  min-height: 400px;
  padding: 50px;
  border-radius: 30px;
  background: #eee;
}

@media only screen and (max-width: 767px) {
  #game {
    padding: 30px;
    min-height: auto;
  }
}

#score {
  margin-left: 8px;
  margin-right: 2px;
}
#rounds {
  margin-left: 2px;
}

#restart {
  display: none;
}

.guesser {
  font-weight: bold;
}

a {
  color: #00B7FF;
}

h2 {
  margin-bottom: 25px;
}
h2 span,
h3 span {
  color: #8fc5e4;
}

@media (min-width: 768px) {
    .text-right-md { 
      text-align: right;
    }
}

#players {
  padding: 0;
}
#players li {
  list-style: none;
  margin-bottom: 5px;
}

#choice_words {
  margin-bottom: 25px;
}

.choice_word > div,
.choice_number > a {
  line-height: 120px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.choice_number > a {
  display: block;
  cursor: pointer;
  font-size: 50px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, color;
  transition-property: box-shadow, transform, color;
  color: #495057;
}
.choice_number > a:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #2fa4e7;
  text-decoration: none;
}

.choice_number > a:focus,
.choice_number > a:active {
  color: #fff;
}

.choice_number > a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.choice_number > a:focus::before,
.choice_number > a:active::before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.btn-success {
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  .btn-success,
  .btn-danger {
    margin-top: 10px;
  }
}

#clues {
  padding: 0;
  margin-bottom: 40px;
}
#clues li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 8px;
}
#clues li::before {
  color: #2fa4e7;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}
#clues li .cross {
  font-size: 15px;
  cursor: pointer;
  color: #b93838;
}
i {
  margin-left: 8px;
  font-size: 0.9em;
}

.host::before {
  content: "\f013";
  font-family: "Font Awesome 5 Free";
  padding: 0 6px 0 0;
  font-size: 0.9em;
}

#countdown span {
  font-size: 0.8em;
}